* {
    font-family: Scada, sans-serif;
}

.navbar {
    background-color: blue;
}

.btn {
    border-radius: 30px;
    background-color: blue;
}

.callbutton {
    background-color: white;
    color: black;
}

.banner {
    background: url('img/banner.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    color: white;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .carousel-control-prev, .carousel-control-next {
        visibility: hidden;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-control-next {
    margin-right: -15%;
}

.carousel-control-prev {
    margin-left: -15%;
}

.carousel-item-pic {
    margin-bottom: 10px;
    height: 50px;
}

.company-pros {
    margin-bottom: 30px;
    margin-top: 30px;
}