* {
    font-family: Scada, sans-serif;
}

.navbar {
    background-color: blue;
}

.btn {
    border-radius: 30px;
    background-color: blue;
}

.callbutton {
    background-color: white;
    color: black;
}

.banner {
    background: url('img/banner.png') fixed center no-repeat;
    height: 100vh;
    background-size: cover;
    color: white;
}